<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>webMOBI Video Chat</title>
  </head>
  <body>
    <div class="container h-100">
      <div class="row mx-auto text-break" id="infoArea">
        <div
          class="alert alert-success col-xs-12 col-sm-6 mx-auto mt-3 mb-5"
          role="alert"
        >
          <strong>
            Welcome to webMOBI Video Chat, <%= username %>!
          </strong>
        </div>
      </div>
      <% if(connected.length > 0){ %>
      <div id="cardDeckHeader" class="row mx-auto text-center">
        <p class="h3 col-sm-6 mx-auto text-monospace font-weight-bolder">
          Online Clients:
        </p>
      </div>
      <% } %>
      <div
        id="cardDeck"
        class="row mx-auto text-center d-flex justify-content-center"
      >
        <% connected.forEach((client) => { if(client.username !== username){%>
        <div class="card px-1 py-1 mx-2 my-2 rounded border-info shadow">
          <div class="card-body">
            <p class="card-title"><%= client.username %></p>
          </div>
          <div class="card-footer">
            <button
              class="btn btn-info"
              onclick="connect('<%= client.socketId %>')"
            >
              Connect
            </button>
          </div>
        </div>
        <% }}) %>
      </div>
      <div
        class="row mt-5 mx-auto justify-content-center"
        id="videoArea"
        hidden
      >
        <video
          class="bg-primary mx-auto mb-3 mb-lg-0"
          id="myVideo"
          autoplay
          playsinline
          muted
        ></video>
        <video
          class="bg-secondary mx-auto"
          id="remoteVideo"
          autoplay
          playsinline
        ></video>
      </div>
      <div id="messageDialog" class="mx-auto row mt-5" hidden>
        <div class="col-md-6 col-xs-10 mx-auto">
          <div class="input-group mb-3">
            <input
              id="chatMessage"
              type="text"
              class="form-control"
              placeholder="Type Something..."
              required
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-info"
                type="button"
                onclick="sendChat()"
              >
                Send
              </button>
            </div>
          </div>
          <div class="btn-group mb-3 d-flex" role="group">
            <button
              type="button"
              class="btn btn-success"
              id="btn-start-video"
              onclick="startVideoCall()"
              disabled
            >
              Start Video Call
            </button>
            <button
              type="button"
              class="btn btn-warning"
              id="btn-share-screen"
              onclick="startScreenShare()"
            >
              Share Screen
            </button>
            <button
              type="button"
              id="btn-end-connection"
              class="btn btn-danger"
              onclick="endConnection('local')"
              disabled
            >
              End Connection
            </button>
          </div>
          <div
            id="messageConsole"
            class="card border-info shadow vh-30 px-2 py-2 overflow-auto text-break"
          ></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      const username = "<%= username %>";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
